<h2 class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</h2>

<ul>
    <li><a class="page-link" href="/udw26/">Home</a></li>
    <li><a class="page-link" href="/udw26/cfp.html">Call for papers</a></li>
    <!--<li><a class="page-link" href="/udw26/submission.html">Submission</a></li>-->
    <!--li><a class="page-link" href="/udw26/grants.html">Financial aid</a></li-->
    <li><a class="page-link" href="https://aclanthology.org/volumes/2026.udw-1/" target="_blank">Proceedings</a></li>
    <!-- <li><a class="page-link" href="/udw26/registration.html">Registration</a></li> -->
    <li><a class="page-link" href="/udw26/program.html">Program</a></li>
    <li><a class="page-link" href="/udw26/invited-talk.html">Invited talks</a></li>
    <li><a class="page-link" href="/udw26/organization.html">Organization</a></li>
</ul>

<h3>IMPORTANT DATES </h3>
<ul>
<!--
    <li><span><del>Sep 27</del> <del>Oct 4 <b>Oct 11</b>: Submission</del>  </span></li>
-->
<li><span><del>Feb 16</del>Feb 21: Submission</span></li>
    <li><span>Mar 16: Notification</span></li>
    <li><span>Mar 30: Camera-ready</span></li>
    <li><span>May 16: Workshop date</span></li>
    <i>All deadlines are 11.59 pm UTC -12h (“anywhere on Earth”).</i>
</ul>


<h3>CONTACT</h3>
<ul>
  <li><span><a href="mailto:udw26@googlegroups.com">udw26@googlegroups.com</a></span></li>
</ul>
