<h2 class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</h2>

<ul>
    <li><a class="page-link" href="/udw27/">Home</a></li>
    <li><span>Call for papers</span></li>
    <!--<li><span>Proceedings</span></li>-->
    <!--<li><span>Program</span></li>-->
    <li><span>Invited speakers</span></li>
    <li><a class="page-link" href="/udw27/organization.html">Organization</a></li>
</ul>

<h3>IMPORTANT DATES </h3>
<ul>
<li><span>TBA: Submission</span></li>
    <li><span>TBA: Notification</span></li>
    <li><span>TBA: Camera-ready</span></li>
    <li><span>Aug 30 - Sept 3: Workshop date</span></li>
    <li><span><i>All deadlines are 11.59 pm UTC -12h (AoE).</i></span></li>
</ul>

<h3>CONTACT</h3>
<ul>
  <li><span><a href="mailto:udw27@googlegroups.com">udw27@googlegroups.com</a></span></li>
</ul>
