<h2 class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</h2>

<ul>
    <li><a class="page-link" href="/udw27/">Home</a></li>
    <li>Call for papers</li>
    <li>Proceedings</li>
    <li>Program</li>
    <li>Invited talks</li>
    <li><a class="page-link" href="/udw27/organization.html">Organization</a></li>
</ul>

<h3>IMPORTANT DATES </h3>
<ul>
<li><span>TBA: Submission</span></li>
    <li><span>TBA: Notification</span></li>
    <li><span>TBA: Camera-ready</span></li>
    <li><span>Aug 30 - Sept 3: Workshop date</span></li>
    <i>All deadlines are 11.59 pm UTC -12h (“anywhere on Earth”).</i>
</ul>

<h3>CONTACT</h3>
<ul>
  <li><span><a href="mailto:udw27@googlegroups.com">udw27@googlegroups.com</a></span></li>
</ul>
